# Virtual Environment
CodeGrapher_Venv/
/CodeGrapher_Venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor directories and files
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Environment variables
.env
